html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

* {
    box-sizing: border-box;
    /* nên sử dụng cho toàn bộ trang web
    dùng selector *
    */
}
body {
    width: 100%;
    height: 100vh;
     font-family: "Roboto", sans-serif;
     font-size: 1.6rem;
     /* độ đậm nhạt */
     font-weight: 700;
  
}

.box {
    width: 200px;
    height: 300px;
    background-color: #ffa400;
    border: 4px solid yellow;
    padding: 1rem;
    margin: 1.5rem;
    text-align: center;
    border-radius: 4px;
}
.text {
    max-width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* theo chiều dọc */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text1 {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.background {
   background-image: url(https://thuvienanime.net/wp-content/uploads/2023/04/review-tien-nghich-thuvienanime-2.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    object-fit: cover;
}

.link {
    text-decoration: none;
    padding: 1rem 5rem;
    text-align: center;
    color: white;
    background: violet;
    margin-left: 2rem;
}

.link:hover {
    background-color: white;
    color: black;
}

.link--rounded {
    border-radius: 8px;
}

.link--round {
    border-radius: 2rem;
}