/* 
b14
cấu trúc 1 đoạn code css
selector {
property: value
}

selectors: tags: p, div, h1, main
class: .demo, .header
id: #container, #footer
property: color, background-color
value: red, blue, orange
*/
p {
    /* 
    value color: red, yellow, blue
    hexa #ffa400, #ff7870
    rgba
    a = opacity : độ trong suốt
    */
    color: red;
    color: yellow;
    color: blue;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 1, 0.5);
    color: #ffa400;
    color: #666666;
}
.background {
    background-color: aqua;
    /* width: 100px; */
    max-width: 50%;
    /* height: 100px; */
    /* chiều cao tối thiểu 100, khi nd dài hơn 100 -> tùy chỉnh theo */
    min-height: 100px;
    max-height: 200px;
    background-color: #2979ff;
    /* tràn -> ẩn đi */
    /* overflow: hidden;  */
    /* tràn -> scroll : x chiều ngang : y chiều dọc */
    /* overflow-y: auto; */

}
.background2 {
    /* background-image: url(https://images.unsplash.com/photo-1761470758032-42acd372d6f5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170); */
    /* phải set width height cho bg */
    width: 100%;
    height: 1000px;
    /* background-position: center center; */
    /* phủ toàn trang */
    /* background-size: cover; */
    /* ảnh nhỏ thường lặp lại, muốn ko lặp -> no repeat */
    /* background-repeat: no-repeat; */
    /* khi scroll ảnh di chuyển, muốn ko ->  */
    /* background-attachment: fixed; */
    /* code ngắn gọn tất cả trên 1 dòng */
    background: red 
    url(https://images.unsplash.com/photo-1761470758032-42acd372d6f5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170) 
    no-repeat center center / cover;
}