html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

* {
    box-sizing: border-box;
    /* nên sử dụng cho toàn bộ trang web
    dùng selector *
    */
}
body {
    /* embed từ gg fonts kiểu poppins */
     font-family: "Poppins", sans-serif;
     font-size: 1.6rem;
     /* độ đậm nhạt */
     font-weight: 300;
     font-style: italic;
}
/* 
b14
cấu trúc 1 đoạn code css
selector {
property: value
}

selectors: tags: p, div, h1, main
class: .demo, .header
id: #container, #footer
property: color, background-color
value: red, blue, orange
*/
p {
    /* 
    value color: red, yellow, blue
    hexa #ffa400, #ff7870
    rgba
    a = opacity : độ trong suốt
    */
    color: red;
    color: yellow;
    color: blue;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 1, 0.5);
    color: #ffa400;
    color: #666666;
}
.background {
    background-color: aqua;
    /* width: 100px; */
    max-width: 50%;
    /* height: 100px; */
    /* chiều cao tối thiểu 100, khi nd dài hơn 100 -> tùy chỉnh theo */
    min-height: 100px;
    max-height: 200px;
    background-color: #2979ff;
    /* tràn -> ẩn đi */
    /* overflow: hidden;  */
    /* tràn -> scroll : x chiều ngang : y chiều dọc */
    /* overflow-y: auto; */

}
.wrap {
    width: 400px;
}

.background2 {
    /* background-image: url(https://images.unsplash.com/photo-1761470758032-42acd372d6f5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170); */
    /* phải set width height cho bg */
    /* width: 100%;
    height: 1000px; */
    /* background-position: center center; */
    /* phủ toàn trang */
    /* background-size: cover; */
    /* ảnh nhỏ thường lặp lại, muốn ko lặp -> no repeat */
    /* background-repeat: no-repeat; */
    /* khi scroll ảnh di chuyển, muốn ko ->  */
    /* background-attachment: fixed; */
    /* code ngắn gọn tất cả trên 1 dòng */
    background: red 
    url(https://images.unsplash.com/photo-1761470758032-42acd372d6f5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170) 
    no-repeat center center / cover;
    /* viewport width viewport height --> full background khong xuat hien scroll */
    width: 100%;
    /* % theo ptu cha, ptu cha là wrap = 400px -> width background = 400px */
    width: 100vw;
    height: 100vh;
}
/* font-size: 100% = 16px mặc định hầu hết mọi trình duyệt */
/* 1em = 1rem = 16px */
.em {
    width: 10em;
    height: 10em;
    background-color: #ffa400;
    font-size: 32px;
    /* là đơn vị sẽ phụ thuộc vào thuộc tính fontsize của chính nó hoặc ptu chứa nó */
}
.rem {
    /* rem là đơn vị relative, không cố định như px */
    /* phụ thuộc vào fontsize của thẻ html */
    width: 10rem;
    height: 10rem;
    background-color: #ff7870;
    font-size: 32px;
    /* border: 2px solid black;
    border-style: dotted;
    border-style: dashed; */
    /* border-top: 1px solid #000;
    border-right: 5px dashed pink;
    border-bottom: 10px dotted yellow;
    border-left: 10px solid red; */
    /* border-radius: 10px 20px 30px 40px; */
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    border-radius: 50%;
    outline: 2px solid blue;
    /* border-radius: bo góc
    50% -> hình tròn
    */
    /* border: border-width border-style border-color */
    /* sẽ phụ thuộc vào thuộc tính fontsize của thẻ html */
    /* 
    100% = 16px
    %?=10px
    ?=62.5%
    */
}
.margin {
        width: 14rem;
        height: 14rem;
        background-color: red;
        margin: 10px 10px 10px 10px;
        /* top=right=bot=left=25 */
        margin: 25px;
        /* top=bot=20 r=l=40 */
        margin: 20px 40px;
        /* top=10 r=l=20 bot=30 */
        margin: 10px 20px 30px;
        /* top right bottom left */
        margin:10px 20px 30px 40px;
        /* center */
        margin-left: auto;
        margin-right: auto;
        /* margin có thể điền số âm, số âm -> lùi */
    }
.margin2 {
    width: 14rem;
    height: 14rem;
    background-color: blueviolet;
    margin-bottom: 50px;
    margin-bottom: 70px;
}
.margin3 {
    margin-top: 50px;
    /* margin collapse
    trên và dưới đều 50px -> đáng ra là 100 nhưng thực tế là 50 
    lấy cái cao hơn
    */
}
.padding {
    width: 10rem;
    height: 10rem;
    background-color: blueviolet;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    /* viết rút gọn tương tự như margin */
}
.boxed {
    width: 10rem;
    height: 10rem;
    border: 5px solid black;
    padding: 1rem;
    background-color: orange;
    box-sizing: content-box;
    box-sizing: border-box;
    /* 
    content-box
    width = width + paddingleft + paddingright + borderleft + borderright
    width = 100 + 10 + 10 + 5 + 5 = 130
    height = height + padding-top + padding-bottom + border-top + border-bottom


    border-box
    width = width - (paddingleft + paddingright + borderleft + borderright) = 70px
    height = height - (padding-top + padding-bottom + border-top + border-bottom) = 70px

    */
}
a {
    color: white;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    background-color: black;
    display: inline-block;
    display: block;
    display: none;
    /* thẻ inline bị hạn chế nhiều css -> dùng thuộc tính display */
}